body {
  background-color: #2d4059;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #F7F2E7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  text-decoration: none;
}

a:hover {
  color: #EA5455;
  text-decoration: none;
}

#name:hover {
  color: #EA5455;
}

h3 {
  color: #D49A89;
  text-align: center;
}

h3:hover {
  color: #EA5455;
}

p {
  color: #2d4059;
  text-align: center;
}

h1 {
  color: #EA5455;
}

h2 {
  color: #F7F2E7;
}

/* navbar */
.navbar {
  font-size: large;
  background-color: #2d4059;
}

.navbar-brand {
  font-size: xx-large;
}

/* index.html */
.carousel-inner > .item > img {
  width: 100%;
}

/* projects.html */
.projectblock {
  background-color: #F7F2E7;
}

/* contacts */
#contacts {
  background: var(--dark_bg);
  color: var(--text);
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin: 0px;
}
