@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

:root {
  --headings: #EA5455;
  --text: #D49A89;
  --light_bg: #F7F2E7;
  --dark_bg: #2D4059;
}


body {
  background-color: white;
  color: var(--text);
  font-family: "Pangolin", Courier New;
  margin: 0px;
}

a {
  color: var(--headings);
  text-decoration: none;
}

a:hover {
  color: var(--text);
  text-decoration: none;
}

/* navigation bar */

.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--dark_bg);
    box-shadow: 0px 2px 1px var(--dark_bg);
}

.list {
  display: flex;
  margin-right: 2rem;
  justify-content: center;
}

.list a {
    display: block;
    color: var(--headings);
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

.list a:hover {
    color: var(--text);
}

/* welcome/home */

#home {
    text-align: center;
    padding: 60px;
}

home > h1 {
  font-size: 150px;
}

.headings {
    text-align: left;
    font-family: "Coming Soon", Courier New;
    font-size: 50px;
}

/* About me */
#about {
  text-align: center;
  padding: 10% 0px 10% 0px;
  background: var(--dark_bg);
}

#about > img {
  border-radius: 50%;
  height: 15%;
  width: 15%;
}

#about > p {
  font-size: 25px;
  padding: 25px 25%;
}

/* projects section */

#projects {
  text-align: center;
  padding: 10% 0px 10% 0px;
  background: var(--light_bg);
  font-size: 30px;
}

/* contacts */

#contacts {
    background: var(--dark_bg);
    color: var(--text);
    width: 100%;
    font-size: 30px;
    text-align: center;
    align-items: center;
    padding: 20px;
    left: 0;
    right: 0;
}
