@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

:root {
  --headings: #EA5455;
  --text: #D49A89;
  --light_bg: #F7F2E7;
  --dark_bg: #2D4059;
}

body {
    background-color: white;
    color: var(--text);
    text-align: left;
    font-family: "Pangolin", Courier New;
    padding-top: 75px;
}

/* links */

a {
  color: var(--headings);
  text-decoration: none;
}

a:hover {
  color: var(--text);
  text-decoration: none;
}

/* navigation bar */

.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--dark_bg);
    box-shadow: 0px 2px 1px var(--dark_bg);
}

.list {
  display: flex;
  margin-right: 2rem;
  justify-content: center;
}

.list a {
    display: block;
    color: var(--headings);
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

.list a:hover {
    color: var(--text);
    
}

/* welcome/home */

#home {
    text-align: center;
    padding: 60px;
}

#welcome {
    font-size: 150px;
    text-align: center;
    padding: 100px;
    padding-bottom: 10px;
    font-family: "Coming Soon";
}

#mainbod {
    padding: 20px;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
}

.headings {
    text-align: left;
    font-family: "Coming Soon", Courier New;
    font-size: 50px;
}

.para {
    font-size: 20px;
}

/* About me */
#about {
  text-align: center;
  padding: 10% 0px 10% 0px;
  background: var(--dark_bg);
}

#about > img {
  border-radius: 50%;
  height: 15%;
  width: 15%;
}

#about > p {
  font-size: 25px;
  padding: 25px 25%;
}

/* projects section */

.time{
    font-size: 16px;
    font-weight: 400;
    color: #ebaca2;
}

.image {
    float: left;
    width: 20%;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.content {
    float: left;
    width: 50%;
    padding-left: 40px;
}

.para {
    color: #212e53;
}

.Project {
    padding: 50px;
}

.project-headings {
    text-align: left;
    font-family: "Coming Soon", Courier New;
    font-size: 30px;
}

.links {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* contacts */

#contacts {
    background: var(--dark_bg);
    color: var(--text);
    width: 100%;
    font-size: 30px;
    text-align: center;
    align-items: center;
    padding: 20px;
    left: 0;
    right: 0;
}
